.user-info-expansion{
    div {
        div {
          display: flex;
          flex-direction: column;
          a {
            margin: 1rem;
            text-decoration: none;
            color: black;
          }
        }
      }
}