<mat-grid-list id="UserInfoPage" cols="12" rowHeight="100vh" dir="rtl">
  <mat-grid-tile class="menu grid-tile-column" colspan="2">
    <header>
      <h2>سامانه مدیریت مالی</h2>
    </header>
    <section>
      <mat-expansion-panel
        class="user-info-expansion"
        *ngFor="let item of menu"
      >
        <mat-expansion-panel-header>
          <mat-icon>{{ item.icon }}</mat-icon>
          {{ item.title }}
        </mat-expansion-panel-header>

        <a href="{{ i.href }}" *ngFor="let i of item.items">
          {{ i.title }}
        </a>
      </mat-expansion-panel>
    </section>
  </mat-grid-tile>
  <mat-grid-tile class="list grid-tile-column" colspan="10">
    <header>
      <mat-icon>remove</mat-icon>
      <h3>لیست کاربران</h3>
    </header>
    <section>
      <div>
        <button mat-button>
          <mat-icon>add </mat-icon>
          جدید
        </button>

        <span class="spacer"></span>

        <mat-form-field appearance="outline">
          <mat-label>جستجو</mat-label>
          <input matInput placeholder="جستجو کنید" />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
      <div>
        <table mat-table class="mat-elevation-z8">
          <ng-container>

          </ng-container>

        </table>
      </div>
    </section>
  </mat-grid-tile>
</mat-grid-list>
